body {
    background-color: #E6E6FA;
}

h1 {
    font-family: YunjunKim;
    text-transform: uppercase;
    line-height: 1;
    font-size: 32px;
  }
  
li a {
  display: inline-block;
  padding: 10px 20px;
  margin: 8px 0;
  background-color: #a48be0; /* 부드러운 보라색 */
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease;
}

li a:hover {
  background-color: #8e6ec6;
  transform: translateY(-2px);
}

ul {
  list-style: none;
  padding: 0;
}

